<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="referrer" content="no-referrer-when-downgrade">
<link rel="icon" href="/img/favicon.png" type="image/png">
<link rel="stylesheet" href="/styles.css">
<title>Page not found | Volodymyr Vasylyna</title>
</head>
<body>
  <header class="site-header">
    <div class="container">
        <h3><a href="/" rel="home">Volodymyr Vasylyna</a></h3>
      <nav>
        <a href="/about/">About me</a>
        <a href="/blog/">Blog</a>
        <a href="/contact/">Contact</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <h1>Page not found</h1>
      <p>Sorry, but the requested page does not seem to exist (anymore).</p>
    </div>
  </main>
  <footer class="site-footer">
    <div class="container">
      <div class="footer-col mb">
          <ul class="nolist">
            <h3>More about me</h3>
            <div><a href="/bookmarks/">My bookmarks</a></div>
            <div><a href="/blog/">My blog</a></div>
            <div><a href="/now/">Now</a></div>
      </ul>
    </div>
    <div class="footer-col mb">
      <ul class="nolist">
      <h3>Contact</h3>
      <div><a href="https://t.me/vovavasylynablog">Telegram</a></div>
      <div><a href="https://www.linkedin.com/in/volodymyrvasylyna/">LinkedIn</a></div>
      <div><a href="https://www.instagram.com/vovavasylyna/">Instagram</a></div>
      <div><a href="mailto:vasilinavova@gmail.com">Email</a></div>
      </ul>
  </div>
</div>
    <div class="container">
      <p><a href="https://github.com/vovavasylyna/home">Source code for this website</a>.</p>
    </div>
  </footer>
</body>
</html>