<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="no-referrer-when-downgrade">
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
    href="/atom.xml">
  {% endblock %}
  <link rel="icon" href="/img/favicon.png" type="image/png">
  <link rel="stylesheet" href="/styles.css">

  {% block head %}{% endblock %}
</head>
<body>
  <header class="site-header">
    <div class="container">
      {%- if current_path == '/' -%}
      <h1><a href="/">Volodymyr Vasylyna</a></h1>
      {%- else -%}
      <h3><a href="/" rel="home">Volodymyr Vasylyna</a></h3>
      {%- endif -%}
      <nav>
        <a href="/" {% if current_path=='/' %}class="active" {% endif %}>About me</a>
        <a href="/blog/" {% if current_path=='/blog/' %}class="active" {% endif %}>Blog</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
    {% block content %} {% endblock %}
    </div>
  </main>
  <footer class="site-footer">
    <div class="container">
      <div class="footer-col mb">
        <h3>More about me</h3>
        <div><a href="/bookmarks/">My bookmarks</a></div>
        <div><a href="/blog/">My blog</a></div>
        <div><a href="/now/">Now</a></div>
      </div>
    </div>
    <div class="footer-col mb">
      <h3>Contact</h3>
          <li><a href="https://t.me/vovavasylynablog">Telegram</a></li>
          <li><a href="https://www.linkedin.com/in/volodymyrvasylyna/">LinkedIn</a></li>
        <li><a href="https://www.instagram.com/vovavasylyna/">Instagram</a></li>
        <li><a href="mailto:vasilinavova@gmail.com">Email</a></li>
      </ul>
  </div>
</div>
    <div class="container">
      <p><a href="https://github.com/vovavasylyna/home">Source code for this website</a>.</p>
    </div>
  </footer>
</body>
</html>