{% extends "base.html" %}

{% block head %}
<title>{{ page.title }} | Volodymyr Vasylyna</title>
<link rel="canonical" href="{{ page.permalink | safe}}">
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ page.permalink | safe }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ page.description }}">
<meta property="description" content="{{ page.description }}">
{% endblock %}

{% block content %}
  <article>
    <header><h1>{{ page.title }}</h1></header>
    <div>
      {{ page.content | safe }}
    </div>
  </article>
{% endblock content %}